* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*BASIC STYLE*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#main-body {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.main.bar {
  width: 30vw;
  height: auto;
}

/*GRID BASE*/

#grid-container {
  display: grid;
  width: 30vw;
}

.radius {
  border-radius: 50%;
}
